# Example Environment Variables
JWT_SECRET=---YOUR JWT SECRET KEY---
JWT_VALID=1h
MONGODB_URI=---YOUR MONGODB CONNECTION STRING---
EMAIL=---YOUR EMAIL YOU WANT TO USE TO END EMAILS FROM---
EMAIL_PASSWORD=---YOUR EMAIL'S PASSWORD---